.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
  margin-bottom: 10px;
  @media only screen and (min-width: 653px) {
    margin-bottom: 20px;
  }
}

.item {
  overflow: hidden;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  transition: all 350ms ease-in-out;
}

.item:hover {
  outline: 3px solid rgb(38, 192, 192);
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}
