.title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: rgb(38, 192, 192);
}

.goBackLink {
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.5);
  display: block;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100px;
  padding: 4px 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  transition: all 350ms ease-in-out;
}

.goBackLink:hover {
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.4);
  outline: 1px solid rgb(38, 192, 192);
  transform: scale(1.03);
}

.goBackLink:focus {
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.6);
  outline: none;
  transform: scale(0.95);
  color: rgb(38, 192, 192);
}
